* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
	font-size: 18px;
	font-family: auto;
}

.course-preview {
	background-color: #1b2375;
	color: #fff;
	padding: 30px;
	width: 80%;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}


.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}


.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.career_btn {
	background-color: #1b2375;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}



.career {
	margin-top: 15vh;
}

.conference_box {
	width: 45%;
	height: 230px;
}

.course {
	height: 100%;
}

.conference {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

.career_info h2 {
	color: #1b2375;
	margin-bottom: 50px;
}

.career_btn a {
	color: #FFF;
}

.career_info {
	margin-top: 100px;
}

@media(max-width:768px) {
	.conference_box {
		width: 100%;
	}

	.course-preview a {
		font-family: math;
		margin-top: 0;
	}
	
}
@media(max-width:400px){
	.conference_box{
		margin-bottom: 100px;
	}
	.course{
		flex-direction: column;
		height: auto;
	}
	.course-preview{
		width: 100%;
	}
}
.footer_all{
	margin-top: 100px;
	background-color: #0e1133;
	padding: 40px 0;
}