* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact_start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer_all {
    background-color: #0e1133;
    padding: 30px 0;
}

.contact_content {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.contact_left {
    width: 500px;
    background-color: #fff;
    height: 450px;
    padding: 30px;
}

.contact_right {
    background-color: #0e1133;
    width: 300px;
    height: 450px;
    padding: 30px;
}

.contact_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1b2375;
    margin-bottom: 20px;
}

.contact_send_about {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contact_send-box {
    display: flex;
    flex-direction: column;

    width: 45%;
}

.contact_send-box label {
    color: #000;
    opacity: .8;

}

.contact_send-box textarea {
    width: 200px;
    height: 100px;
    border-radius: none;
    outline: none;
}

.contact_send-box input {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.contact_send {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
    align-items: center;
    gap: 10px   ;
}
.contact_send i{
    font-size: 30px;
}