*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.map{
    padding: 20rem;
}

.map_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

