.news{
    margin-top: 12vh;
}
.news_achievement-box{
    width: 48%;
}
.news_achievement-box a{
    display: flex;
    height: auto;
    text-decoration: none;
    color: #000;
    gap: 20px;
    margin-bottom: 50px;

}

.news_achievement-img img{
    width: 300px;
    object-fit: cover;
}
.news_achievement-start{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news_achievement-text h4{
    font-size: 24px;
    color: #333;
    font-weight: 700;
    letter-spacing: -.035em;
    line-height: 1.15;
    margin-bottom: 10px;
}
.news_achievement-text p{
    line-height: 1.3;
    font-size: 18px;
}